{{define "title"}}
Dear {{.first_name}},
{{end}}

{{define "body"}}
    {{if eq .status "approved"}}
        <p style="margin-bottom: 4px;">Greetings from the {{.event_name}} team!</p>
        <p>Congratulations! You have been accepted to participate in {{.event_name}}, taking place on November 11, 2023 at the Sedes Sapientiae Auditorium, Holy Cross of Davao College, Sta. Ana Ave., Davao City.</p>
        <p style="margin-bottom: 4px;">We are thrilled to have you join us for this exciting event, which will bring together over 100+ developers from the IT industry in Davao City and the surrounding areas. The conference will feature keynote speakers, lightning talks, and networking opportunities.</p>
        <p style="margin-bottom: 4px;">We will send you more closer to the event date for you to be prepared for the event.</p>
        <p style="margin-bottom: 4px;">In the meantime, please follow our Facebook page at <a href="https://www.facebook.com/gdgdavao">facebook.com/gdgdavao</a> for announcements.</p>
        <p>We look forward to seeing you at {{.event_name}}!</p>
    {{else}}
        <p style="margin-bottom: 4px;">Thank you for taking the time to register in {{.event_name}}. Unfortunately, we were unable to accept your application due to the high volume of applications and limited space.</p>
        <p>We encourage you to keep an eye on our <a href="https://www.facebook.com/gdgdavao">Facebook page</a> for future events. We wish you all the best.</p>
    {{end}}

    <p style="margin-top: 28px;margin-bottom: 4px;">Sincerely,</p>
    <p>{{.event_name}} Team</p>
{{end}}
